:root{
  --grey: #858585;
  --pink: #FE0074;
  --lightPink: #FFBAD9;

  --margin: 16px;
  --fontFamily: 'Mulish', sans-serif;
}

body{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.couplePic{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  margin: auto;
}

.navbar{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center; 
  box-shadow: var(--grey) 0px 0px 4px;
  background-color: white;
}

h1, h2, p{
  font-family: var(--fontFamily);
}

.icon{
  font-size: 10px;
  width: 20%;
  height: fit-content;
}

.iconImg{
  height: 20px;
  width: auto;
  margin-bottom: 2px;
}

.navTag{
  margin: 0px;
  color: var(--grey);
}

.navTag.active{
  color: var(--pink);
}

a{
  text-decoration: none;
}

.bars{
  width: 20px;
  height: auto;
  position: absolute;
  margin-top: 32px;
}

.back-arrow{
  width: 18px;
  height: auto;
}