
  .cateresimg{
  margin-left: 1vh;
  }
  .Cateres{
    text-align: center;
  }
  .prag{
    text-align: center;
  }
  .stroke{
    bottom: 0;
    left: 0;
    width: 20%;
    height: 40px;
    background-color: #ffffff; /* Background color of the element */
    border-bottom: 2px solid #FE0074 ; /* Border width, style, and color */
    border-radius: 0 0 14px 14px; /* top-left, top-right, bottom-right, bottom-left */
    box-sizing: border-box; /* Include border in the total width and height of the element */
    font-size: 0.8em;
  }
  .speciality{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .type{
    text-align: center;
  }
  
  .Backarrow{
  display: flex;
  
  }
  .arrow-left{
    width: 5vw;
    height: 5vw;
    margin-top: 1.98vh;
    margin-left: 3vh;
  }
  .Back{ 
    margin-left: 1vh;
  }
  .Skip{
    margin-left: 28vh;
  }
  

  

  
  
  