@import '../views/App.scss';

.countdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.countdownBack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.countdownBackBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    margin-top: 42px;
}

.countdownGradient{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.number{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    margin: 22px;
    margin-top: 16px;
    /*padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--pink);
    border-radius: 10px;
    border-top: 1px solid white;*/
}

.rectangleTop{
    background-color: $pink;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 10px 10px 4px 4px;
    border-top: 1px solid white;
    margin-top: 0px;
    z-index: -1;
    margin-left: 1px;
    margin-right: 1px;
}

.rectangleBottom{
    background-color: #dd0065;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px 4px 10px 10px;
    margin-top: 0px;
    z-index: -1;
    margin-left: 1px;
    margin-right: 1px;
}

.gradientLine{
    background: linear-gradient(180deg, rgba(254,0,116,1) 0%, rgba(210,0,97,1) 30%, rgba(255,255,255,1) 50%, rgba(210,0,97,1) 70%, rgba(221,0,101,1) 100%);
    height: 4px;
    width: 60px;
    margin-top: 40px;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
}
