.menuIcon{
    margin-left: 16px;
}

.menuOpen{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    background-color: white;
    box-shadow: 4px 0px 4px var(--grey);
    width: auto;
    height: 100vh;
    border-right: 1px solid var(--grey);
    border-radius: 0px 20px 20px 0px;
    z-index: 1;
}

.menuTitle{
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 0px;
    padding-bottom: 32px;
    color: var(--pink);
}

.menuLinks{
    display: flex;
    padding-top: 36px;
    padding-bottom: 36px;
    border-bottom: 1px solid var(--grey);
    align-items:center;
}

.menuIcons{
    margin-right: 16px;
    margin-left: 32px;
}

.back-arrow{
    padding-bottom: 16px;
    padding-top: 32px;
    margin-left: 16px;
}

.top{
    border-top: 1px solid var(--grey);
}
