@import "./App.scss";

.cover {
  width: 100%;
  height: 17vh;
  overflow: hidden;
}

.coverimg {
  width: 100vw; // Adjust as needed
  height: auto; // Adjust as needed
}

.guestInfo {
    margin-top: $margin-double;
    margin-bottom: $margin-double;
}

.guestInfoDetail {
    margin-top: $margin-half;
    margin-bottom: $margin-half;
}

.statusForGuest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin-double;
}

.statusContainer {
    text-align: center;
    width: 45%;
    border-bottom: $border-bottom;
    border-radius: $border-radius;
    box-shadow: $shadow-above;
}

.statusAnswer {
    padding: $padding;
}

.container {
  justify-content: space-between;
  margin-left: $margin;
  margin-right: $margin;
}
