@import "./App.scss";

.group{
    border-bottom: $border-bottom;
    position: relative;
    border-radius: $border-radius;
    box-shadow: $shadow-above;
    margin-top: $margin;
    padding-left: $padding;
    padding-right: $padding;
}

.eventInfo {
    margin-top: $margin-half;
}

h2.eventInfo {
    padding-top: $padding;
}

.add{
    position: fixed;
    bottom: 8vh;
    right: 10vw;
}