$black: black;
$grey: #858585;
$shadow-grey: #85858550;
$white: white;

$red: #e50017;
$pink: #fe0074;
$lightPink: #ffbad9;

$size: 1rem; //16px

$margin: $size;
$margin-half: (0.5 * $size); //8px
$margin-double: (2 * $size); //32px
$margin-page-bottom: (5.125 * $size); //64px

$padding: $size; //top and bottom
$padding-sides: (0.75 * $size); //12px
$padding-box: (2 * $size); //32px - counts for all sides

$padding-button: (1.5 * $size); //top and bottom
$padding-button-sides: (3 * $size); //48px

$padding-nav: (0.5 * $size); //8px - counts for all sides

$padding-page-top: (4.625 * $size); //74px
$padding-page-bottom: (5.125 * $size); //64px

$border-bottom: 1px solid $pink;
$border-grey: 1px solid $grey;
$border-black: 1px solid $black;
$border-white: 1px solid $white;

$border-radius: (0.625 * $size); //10px
$border-radius-double: (1.25 * $size); //20px - for bigger elements

$fontFamily: "Mulish", sans-serif;
$fontEmpty: "MV Boli V1";

$body: (0.875 * $size); //14px
$body-large: $size;
$subtitle: (1.125 * $size); //18px
$title: (1.5 * $size); //24px
$navigation: (0.625 * $size);
$link: (0.75 * $size);
$countdown: (4 * $size); //64px

$bold: bold;
$underlined: underline;
$italic: italic;
$links-deco: none;

$align: center; //general align rule
$align-left: left; //specific areas

$icons-size: (1.25 * $size); //20px

$shadow: 4px 0 4px $shadow-grey;
$shadow-above: 0px -1px 3px $shadow-grey;

body {
  margin: 0;
}

h1 {
  font-size: $title;
  font-weight: $bold;
}

h2 {
  font-size: $subtitle;
  font-weight: $bold;
}

:root {
  font-family: $fontFamily;
  color: $black;
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.couplePic {
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
  margin: auto;

}

.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100vw;
  padding-top: $padding-nav;
  padding-bottom: $padding-nav;
  text-align: center;
  box-shadow: $grey 0px 0px 4px;
  background-color: $white;
}

.organizerNav{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.guestNav{
  display: none;
}

a {
  color: $black;
}

h1,
h2,
p {
  font-family: $fontFamily;
}

.icon {
  font-size: $navigation;
  width: 20%;
  height: fit-content;
}

.iconImg {
  height: $icons-size;
  width: auto;
  margin-bottom: (0.125 * $size);
}

.navTag {
  margin: 0;
  color: $grey;
}

.navTag.active {
  color: $pink;
}

.marginBottom {
  margin-bottom: $margin-page-bottom;
}

a {
  text-decoration: $links-deco;
}

.bars {
  width: $icons-size;
  height: auto;
  position: absolute;
  margin-top: $margin-double;
}

.back-arrow {
  width: $icons-size;
  height: $icons-size;
}

.button {
  background-color: $pink;
  border: none;
  border-radius: $border-radius;
  text-align: center;
  margin: $margin;
}

.buttonText {
  color: $white;
  padding: $padding-button;
  font-size: $body-large;
}

.wrapper {
  margin: 0 $margin;
}

.addbutton {
  width: 30vw;
  margin-left: 69vw;
  margin-bottom: $margin-page-bottom;
}

.guidelines {
  text-align: center;
  font-family: mv Boli;
  margin-top: 0;
  padding-top: $padding-page-top;
  margin-left: $margin-double;
  margin-right: $margin-double;
}

.getstarted {
  text-align: center;
  font-family: mv Boli;
}

.titlePage {
  margin: 0;
  text-align: $align;
}

.subtitlePage {
  margin-top: $margin-double;
}

.explanation {
  position: relative;
  color: $black;
  font-size: $size;
  text-align: center;
}

.cover {
  width: 100%;
  height: 17vh;
  overflow: hidden;
}

.coverimg {
  width: 100vw; // Adjust as needed
  height: auto; // Adjust as needed
}
.map {
  height: 20vh;
  width: 90vw;
}

.mapLarge {
  height: 70vh;
  width: 100vw;
}

.search-city {
  margin: $margin;
  margin-top: (2*$margin-double);
}

.buttonSearch{
  background-color: $pink;
  border: none;
  border-radius: $border-radius;
  text-align: center;
  margin: $margin;
  color: $white;
  padding: $padding-button;
  font-size: $body-large;
}

.confirmation {
  text-align: center;
  margin-top: $margin-double;
}

.pageBottom {
  padding-bottom: $padding-page-bottom;
}

.rectangle {
  position: absolute;
  top: 20vh; 
  width: 100vw;
  height: 85vh;
  background-color: rgb(255, 255, 255); // Adjust color and opacity as needed
  border-radius: $border-radius;
}

.lower {
  top: 83vh;
  height: 20vh;
  overflow: hidden;
}

.arrow-down {
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 22;
}

.arrow-up {
  rotate: 180deg;
}

.titleLowMargin {
  padding-top: $padding-box;
}