@import './App.scss';

.back {
  padding-left: $padding-sides;
  margin: 0;
}

.cardName {
  font-weight: $bold;
}

.cardImageContainer{
  max-width: 251px;
  height: 200px;
  overflow: hidden;
  border-radius: $border-radius $border-radius 0 0;
}

.cardImage{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.card{
  margin: $margin;
  border-bottom: $border-bottom;
  border-radius: $border-radius;
  background-color: $white;
}

.slider-container {
  display: -webkit-inline-box;
  overflow: scroll;
  width: 100%;
}

.card_description {
  padding: $padding;
}

.card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin;
}

.card_info p {
  margin: 0;
}


.filters {
  text-align: right;
  text-decoration: $underlined;
  margin-right: $margin;
  font-size: $link;
}

.caterersOptions {
  margin: 0;
  text-align: $align;
}

.plus-info{
  margin-left: $margin;
  margin-bottom: 0;
}

.others{
  margin: 0;
  margin-top: $margin;
  margin-left: $margin;
}


.options {
  display: flex;
  justify-content: space-between;
  text-align: right;
  text-decoration: $underlined;
  margin-right: $margin;
  margin-left: $margin;
  font-size: $link;
}

.favourite {
  width: 12%;
  height: 12%;
}