@import "./App.scss";

.leftarrow {
  position: absolute;
}

.wrapper {
  position: relative;
}

.eventform {
  margin-top: $margin;
}

.eventInfo {
  text-align: center;
}

.grp {
  display: flex;
  justify-content: space-between;
}

.description {
  padding-bottom: $padding-page-top;
}

.parking {
  margin-bottom: $margin-half;
}

.alternative {
  margin-bottom: $margin-double;
  color: $grey;
  font-size: $link;
}

.box {
  border-bottom: $border-bottom;
  position: relative;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 35vw;
}

.text {
  position: relative;
  color: $black;
  font-size: $size;
  margin-left: 2vh;
  margin-right: 2vh;
  text-align: center;
}

.Description {
  padding-bottom: 6vh;
}
