@import "./App.scss";

.modify{
    text-decoration: $underlined;
    text-align: center;
} 

.pageTitle {
    text-align: center;
}

.hours{
    border-bottom: $border-bottom;
    position: relative;
    border-radius: $border-radius;
    width: 45%;
    text-align: center;
    box-shadow: $shadow-above;
}

.marginHalf {
    margin-top: $margin-half;
}

.Head{
    position: relative;
    color: $black; 
    font-size: 18px; 
    font-weight: bold; 
    font-size: $title;
    text-align: center;
 
}

.infoTitle {
    font-weight: $bold;
    margin-bottom: $margin-half;
}