@import "./App.scss";
.addbutton{
    width: 30vw;
    margin-left: 69vw;
}

.guidelines{
    text-align: center;
    font-family: mv Boli;
    padding-top: 5vh;
}

.getstarted{
    text-align: center;
    font-family: mv Boli;
}