@import "./App.scss";
.addbutton{
    width: 30vw;
    margin-left: 69vw;
}
.get{
    text-align: center;
    font-family: mvBoli;
}
.parah{
    text-align: center;
    font-family: mvBoli;
    padding-top: 5vh;
}

.getstarted{
    font-family: $fontEmpty;
    text-align: center;
    font-family: mvBoli;
}