@import "./App.scss";

.flower {
  width: 100%;
  height: 17vh;
  overflow: hidden;
}
.flowerimg {
  width: 100vw; // Adjust as needed
  height: auto; // Adjust as needed
}

.rectangle {
  position: absolute;
  top: 15vh; // Adjust as needed
  width: 100vw; // Adjust as needed
  height: 85vh;
  background-color: rgb(255, 255, 255); // Adjust color and opacity as needed
  border-radius: $border-radius;
}
.Tittle {
  position: relative;
  color: $black;
  font-size: 18px;
  font-weight: bold;
  font-size: $title;
  text-align: center;
}

.parag {
  position: relative;
  color: $black;
  margin-left: 5vw;
}
.list {
  position: relative;
}
.done {
  position: absolute;
  width: 25%;
  top: 10vh;
  z-index: 1;
  margin-left: 35vw;
}
.contain {
  border-bottom: $border-bottom;
  position: relative;
  border-radius: $border-radius;
  margin-right: 20vw;
  margin-left: 20vw;
  padding-bottom: 1vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
